<!-- <meta header="X-Frame-Options: *" name="" content=""> -->
<!-- header ("X-Frame-Options: "); -->
<!-- <meta http-equiv="X-Frame-Options: SAMEORIGIN"> -->
<style type="text/css">
body
{
  margin: 0;
}
iframe {
  display: block;       /* iframes are inline by default */
  background: #000;
  border: none;         /* Reset default border */
  height: 100vh;        /* Viewport-relative units */
  width: 100vw;
}
</style>

<!-- <iframe ng-src="{{trustSrc(movie.src)}}"></iframe> -->

<!-- <div ng-click="changeIt()"> -->
  <!-- <iframe ng-src="{{url}}"></iframe> -->
<!-- </div> -->

<!-- <div ng-init="thing=[{embed:'//app.sandbox.veritrans.co.id/embed/snap/v2/vtweb/'}]"> -->
  <!-- Click me: <input type="checkbox" ng-model="checked" ng-init="checked=true" /><br/> -->

  <!-- Show when checked: -->

  <!-- <span ng-if="checked" class="animate-if"> -->
  <!-- <span class="animate-if"> -->
      <!--
      replace {{ thing[0].embed }} with the link below and it works. why?
      "//www.youtube.com/embed/wZZ7oFKsKzY"
      -->
      <!-- <iframe width="560" height="315" ng-src="{{ thing[0].embed }}" frameborder="0" allowfullscreen></iframe> -->
  <!-- </span> -->
<!-- </div> -->

<!-- <div> -->
  <!-- <a href="https://app.sandbox.veritrans.co.id/snap/v2/vtweb/" my-target style="color: black;">Link</a> -->
  <!-- <a href="http://www.google.com" target="{{condition ? '_blank' : '_self'}}">Link</a> -->
<!-- </div> -->
